input[type]{


    width:200px;
    height:20px;
    padding:5px;
    border-radius:5px;
    
    }
    
    input[type=radio],input[type=checkbox]{
    
    width:20px;
    display: inline-block;
    

     

    
    
    }

     label{
         width: 120px;
         display: inline-block;
         margin-left: 68px;
     }


button{
    margin-top: 5px;
    margin-left: 145px;
    width: 100px;
    height: 25px;
}
     
   